<svg class="edge-layer" [attr.viewBox]="'0 0 ' + canvasSize.width + ' ' + canvasSize.height">
  <defs>
    @for (color of markerColors(); track color) {
      <marker
        [attr.id]="markerIdForColor(color)"
        viewBox="0 0 20 14"
        markerWidth="20"
        markerHeight="14"
        refX="18"
        refY="7"
        orient="auto-start-reverse"
        markerUnits="userSpaceOnUse"
      >
        <path d="M 18 7 L 0 1 L 0 13 Z" [attr.fill]="color" />
      </marker>
    }
  </defs>

  @for (edge of edges(); track edge.id) {
    @if (shouldRenderEdge(edge) && edgePath(edge); as path) {
      <g [class.is-selected]="selectedEdgeId() === edge.id">
        <path
          class="edge-hit-area"
          [attr.d]="path"
          (pointerdown)="handleSelect($event, edge.id)"
        />
        <path
          class="edge-line-live"
          [class.edge-line-live-dashed]="edge.style.lineStyle === 'dashed'"
          [attr.d]="path"
          [attr.stroke]="edge.style.color"
        />
        <path
          class="edge-line"
          [class.edge-line-dashed]="edge.style.lineStyle === 'dashed'"
          [attr.d]="path"
          [attr.stroke]="edge.style.color"
          [attr.marker-end]="'url(#' + markerIdForEdge(edge) + ')'"
          [attr.marker-start]="isBidirectional(edge) ? 'url(#' + markerIdForEdge(edge) + ')' : null"
        />
      </g>
    }
  }
</svg>
